/* Responsive for mobile device */
@media screen and (max-width: 576px) {
  /* header responsive start */
  .nav_banner_area {
    flex-direction: column;
    gap: 0.8rem;
  }
  .banner_top {
    width: 75vw;
  }
  .banner_top h1 {
    font-size: 40px;
    margin: 2rem auto 1rem;
  }
  /* header responsive end */
  /* Media query for feature area start  */
  .feature_area {
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .feature_left_img,
  .feature_right_info {
    width: 100%;
  }
  .feature_right_info {
    margin: 2rem 0;
  }
  /* Media query for feature area end  */
}
