/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");

/* Shared Style start */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

h2 {
  color: #131313;
  font-size: 34px;
  font-weight: 700;
}
p {
  color: #727272;
  font-size: 13px;
}
img {
  width: 100%;
}
.container {
  width: 75%;
  margin: 0 auto;
}
.bg_color {
  background-color: #fff4e7;
}
.primary_btn {
  border-radius: 8px;
  background: #ff900e;
  font-size: 15px;
  padding: 0.8rem 1.3rem;
  border: none;
  color: white;
}
/* Shared Style end */

/* Header navbar style start */
.nav_banner_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
}
.nav_right_menu {
  display: flex;
  gap: 2.5rem;
}
.nav_right_menu a {
  color: #424242;
  font-size: 14px;
  text-decoration: none;
}
/* Header navbar style end */

/* Header banner style start */

.banner_top {
  width: 55vw;
  margin: 0 auto;
}
.banner_top h1 {
  color: #131313;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 1rem;
}
.banner_info button {
  /* margin: 0 auto; */
  display: block;
  margin: 1.5rem auto 2.3rem;
}
.banner_info img {
  margin-bottom: 2em;
}
/* Header banner style end */

/* Feature area style start */
.feature_left_img,
.feature_right_info {
  width: 50%;
}
.feature_area {
  display: flex;
  margin: 4rem auto 5rem;
}
.feature_left_img {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}
.feature_left_img img {
  max-width: calc(50% - 0.8rem);
}
.feature_right_info {
  margin: auto 2rem;
}
.qick_txt_clr {
  color: #727272;
}
.ftr_txt_clr {
  color: #ff900e;
}
.feature_right_info p {
  margin: 1.5rem 0;
}
/* Feature area style end */

/* Experience area style start */
.experience_area {
  display: flex;
}
.experience_left_info,
.experience_right_img_btn {
  width: 50%;
  min-height: 100px;
}
.experience_left_info {
  padding-right: 7rem;
}
.experience_left_info h2 {
  border-left: 5px solid #ff900e;
  padding-left: 1.2rem;
  margin: 1.8rem 0 1.2rem;
}
.experience_left_card {
  background-color: red;
  padding: 1.5rem;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  margin-top: 1.5rem;
}
.experience_left_card h4 {
  margin-bottom: 0.7rem;
}
.experience_right_img_btn {
  position: relative;
}
.experience_btn {
  padding: 2rem 2.5rem;
  position: relative;
  top: -5rem;
  left: -4rem;
}
.exp_btn_txt {
  font-size: 2.5rem;
  font-weight: 700;
}

/* Experience area style end */

/* Fact area style start */
.fact_cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}
.fact_area p {
  margin: 1.5rem 0 6.5rem;
  width: 25vw;
}
.card img {
  width: 30%;
}
.card {
  width: 180px;
  height: 180px;
  border-radius: 8px;
  border: 1px solid #ff900e;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
.card h2 {
  color: #424242;
}
.card h5 {
  color: #727272;
  font-size: 0.9;
  font-weight: 600;
}
/* Fact area style end */

/* Sponsor area style start */
.sponsors_area {
  margin-top: 6rem;
  text-align: center;
}
.sponsors_area p {
  width: 500px;
  margin: 1.5rem auto 2.5rem;
}
.sponsor_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.sponsor_img img {
  width: 130px;
}
/* Sponsor area style end */

/* Footer style start */
.footer_area {
  margin-top: 70px;
  height: 100px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_area p {
  width: 50%;
  text-align: center;
}

/* Footer style end */
